@model IEnumerable<_1GemmyModel.Model.T_Part_office_ControlBox>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControlColumnNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutputVoltage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputVoltage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransformerPower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Current)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxLoad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PowerOutLet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColumnOutLet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandSetOutLet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramOutLet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoubleMotor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandCranking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GasSpring)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleMotor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EN527)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIFMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UL962)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawingNum2D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawingNum3D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawingName3D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawingName2D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PictureNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionZH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControlBoxWithHandSet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControlBoxWithColumn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControlBoxWithAccessory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransferPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferencePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveRabbt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialDescriptionZH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialDescriptionEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verificationCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleteSign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deletePerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatePerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatePerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControlColumnNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutputVoltage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputVoltage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransformerPower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxLoad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PowerOutLet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColumnOutLet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HandSetOutLet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramOutLet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoubleMotor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HandCranking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasSpring)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SingleMotor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EN527)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIFMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UL962)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrawingNum2D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrawingNum3D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrawingName3D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrawingName2D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionZH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControlBoxWithHandSet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControlBoxWithColumn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControlBoxWithAccessory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransferPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferencePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveRabbt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialDescriptionZH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialDescriptionEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.verificationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleteSign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deletePerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatePerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatePerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
