@model _1GemmyModel.Model.T_Part_office_HandSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>T_Part_office_HandSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveScreen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveScreen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScreenType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScreenType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Touch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Touch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Button)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Button)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveUsb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveUsb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imbedding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imbedding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlueTooth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlueTooth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoryKeys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoryKeys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutputVoltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutputVoltage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InputVoltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InputVoltage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransformerPower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransformerPower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voltage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voltage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Current)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandSetOutLet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandSetOutLet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoubleMotor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoubleMotor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandCranking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandCranking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GasSpring)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GasSpring)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SingleMotor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SingleMotor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EN527)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EN527)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIFMA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIFMA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UL962)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UL962)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawingNum2D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawingNum2D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawingNum3D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawingNum3D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawingName3D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawingName3D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawingName2D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawingName2D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionZH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionZH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandsetWithControlBox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandsetWithControlBox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HandsetWithAccessory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandsetWithAccessory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferencePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferencePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HaveRabbet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaveRabbet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialDescriptionZH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialDescriptionZH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialDescriptionEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialDescriptionEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verificationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verificationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleteSign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleteSign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deletePerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deletePerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatePerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatePerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatePerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatePerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
