
@{
    ViewBag.Title = "office_Eservice_test";
}


<style>
    #shjahs {
        width: 100%;
        border: 0;
        padding-top: 10px;
        padding-bottom: 14px;
        padding-left: 5px;
        padding-right: 5px;
        /*background-color: #F2F3F4;*/
        min-height: 500px;
        height: calc(100vh - 300px);
    }
    .selectColumnPart  {
        min-height: 500px;
        height: calc(100vh - 300px);
        overflow: auto;
        margin-top:10px;
    }
    * {
        font-family: 'Microsoft YaHei';
    }
    .about-three
    {
        padding-top:0px;
        padding-bottom:0px;
    }
    .navimg {
        height: 70px;
        cursor: pointer;
    }
    .selectStep {
        height: 70px;
    }

    .part_img {
        cursor: pointer;
        border-radius: 5px;
        max-height:100%;
        width:100%
    }
        .part_img:hover {
            background-color: rgb(12 33 57 / 0.4);
        }
    .selectBack {
        background-color: rgb(12 33 57 / 0.3);
    }
    .selectText {
        font-size: 14px;
        color: #202733;
    }
    #searchCondition>div{
        float:left;
    }
</style>

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="//unpkg.com/element-ui@2.15.1/lib/index.js"></script>

<div id="OfficeStandards">
    <section class="page-header" style="height:53px;">

        @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
        <!-- /.page-header__bg -->
        <div class="container" style="padding:10px 10px ">
            <a class="navigation_a" href="/JCSelection/main">主页</a>/
            <a class="navigation_a">自定义配置</a>
        </div><!-- /.container -->
    </section><!-- /.page-header -->


    <section class="about-three">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--<div class="block-title text-center">
                <p></p>
                <h3>产品配置列表</h3>
            </div>-->
                    <!-- /.block-title -->
                    <div>
                        <template>
                            <el-tabs v-model="selectStep" @@tab-click="handleClick">
                                <el-tab-pane :label="text_customer_1" name="s1"></el-tab-pane>
                                <el-tab-pane :label="text_customer_2" name="s2"></el-tab-pane>
                                <el-tab-pane :label="text_customer_3" name="s3"></el-tab-pane>
                                <el-tab-pane :label="text_customer_4" name="s4"></el-tab-pane>
                                <el-tab-pane :label="text_customer_42" name="s5"></el-tab-pane>
                                <el-tab-pane label="配置清单信息" name="s6"></el-tab-pane>
                            </el-tabs>
                        </template>
                    </div>


                </div>

            </div>


            <div class="row selectStep" v-if="selectStep=='s1'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    <div class="service-details__image">
                        <div class="block-title text-left">
                            <img class="img-response navimg" :title="text_customer_5" src="~/resourse/page/2jie.png" />
                            <img class="img-response navimg" :title="text_customer_6" src="~/resourse/page/2jieR.png" />
                            <img class="img-response navimg" :title="text_customer_7" src="~/resourse/page/3jie.png" />
                            <img class="img-response navimg" :title="text_customer_8" src="~/resourse/page/3jieR.png" />
                        </div><!-- /.block-title -->
                    </div>
                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s2'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    选择框架
                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s3'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    选择地脚
                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s4'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    选择侧板
                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s5'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    选择配件
                </div>
            </div>
        </div>
    </section>

    <section class="about-three" style="padding-bottom:0px;">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s1'">
                    @*s1*@
                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_column">
                            <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_column==item.Id}" v-on:click="columnClick(item.Id)" src="~/resourse/part_column/testcolumn.png" />
                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_column_count}}条结果</h6></div>
                    </div>
                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s2'">
                    @*s2*@
                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_frame">
                            <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_frame==item.Id}" v-on:click="frameClick(item.Id)" src="~/resourse/part_column/testcolumn.png" />
                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_frame_count}}条结果</h6></div>
                    </div>
                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s3'">
                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_foot">
                            <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_foot==item.Id}" v-on:click="footClick(item.Id)" src="~/resourse/part_column/testcolumn.png" />
                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_foot_count}}条结果</h6></div>
                    </div>
                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s4'">
                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_SideBracket">
                            <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_SideBracket==item.Id}" v-on:click="SideBracketClick(item.Id)" src="~/resourse/part_column/testcolumn.png" />
                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_SideBracket_count}}条结果</h6></div>
                    </div>
                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s5'">

                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s6'">
                   <h6 v-text="'立柱'+select_column"></h6>
                </div>


                <div class="col-lg-8">
                    <div class="service-details__image" id="asas">

                    </div><!-- /.service-details__image -->
                </div><!-- /.col-lg-4 -->
            </div>

        </div>


    </section>

    <button @@click="nextStep">下一步</button>

</div>



<script>


    var OfficeStandards = new Vue({
        el: '#OfficeStandards',
        data: {

            
            @*OrderValue: "",
            Order: 0,//1正序 2倒序
            domain: "@ViewBag.domain",
            Type: "@ViewBag.Type",
            recommend: "@ViewBag.recommend",
            langCode:"",
            deskList: null,
         
            productName: '@ViewBag.productName',
            productGuid: '@ViewBag.productGuid',
            deskSerialName:'',
            T_Product_office_desk: null,
            T_Product_office_desk_detail: null,
            configurationNo: "",*@

            list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],

            selectStep: 's1',//选择的步骤

            list_column: null,
            list_column_count: 0,
            select_column: "",

            list_frame: null,
            list_frame_count: 0,
            select_frame: "",

            list_foot: null,
            list_foot_count: 0,
            select_foot: "",

            list_SideBracket: null,
            list_SideBracket_count: 0,
            select_SideBracket: "",
            
          
            //text
        
            text_customer_1: "",
            text_customer_2: "",
            text_customer_3: "",
            text_customer_4: "",
            text_customer_42 :"",
            text_customer_5: "",
            text_customer_6: "",
            text_customer_7: "",
            text_customer_8: "",
            text_customer_9: "",


            MyCollectName: "",



            value:0,
        },
        watch: {
            selectStep: function (val) {

                switch (this.selectStep) {
                    case "s1":
                       
                        break;
                    case "s2":
                        if (this.select_frame == "") {
                            this.getAllFrame();
                        }
                   
                        break;
                    case "s3":
                        this.getAllFoot();
                        break;
                    case "s4":
                        this.getAllSideBracket();
                        break;

                    //default:
                }
            },

        },
        methods: {
            nextStep: function(event) {
               // console.log(this.selectStep);
                switch (this.selectStep) {
                    case "s1":
                        this.selectStep = "s2";
                        break;
                    case "s2":
                        this.selectStep = "s3";
                        break;
                    case "s3":
                        this.selectStep = "s4";
                        break;
                    case "s4":
                        this.selectStep = "s5";
                        break;

                    //default:
                }
            },

            handleClick(tab, event) {
               // console.log(tab);

               
            },
            initPage: function (event) {
                var code = GetLanguCode();
                this.langCode = code;
                $.ajaxSettings.async = false;
                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;
                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                       // console.log('key:' + key + "  value:" + value);
                        this.setData(key, value);;
                    }
                }
                var i = '<iframe scrolling="no"  id="shjahs" class="img-fluid" alt=""  src = "https://jiecang-embedded.partcommunity.com/3d-cad-models/sso/jc36tViewBag-%E5%8D%87%E9%99%8D%E6%A1%8C-%E6%8D%B7%E6%98%8C?info=jiecang%2Flifting_table%2Fjc36ts_asmtab.prj&cwid=6919&showPortlets=preview&hidePortlets=navigation"/>';
                $('#asas').append(i);

            },
            getAllColumn: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeColumn",
                    params: {
                       
                    }
                }).then(function (response) {  //接口返回数据
                    this.list_column = response.body;
                    this.list_column_count = this.list_column.length;
                  //  console.log(response.body);


                }, function (error) {
                        console.log(error);


                })
            },
            getAllFrame: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeFrame",
                    params: {

                    }
                }).then(function (response) {  //接口返回数据
                    this.list_frame = response.body;
                    this.list_frame_count = this.list_frame.length;
                    console.log(response.body);


                }, function (error) {
                    console.log(error);


                })
            },
            getAllFoot: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeFoot",
                    params: {

                    }
                }).then(function (response) {  //接口返回数据
                    this.list_foot = response.body;
                    this.list_foot_count = this.list_foot.length;


                }, function (error) {
                    console.log(error);
                })
            },
            getAllSideBracket: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeSideBracket",
                    params: {

                    }
                }).then(function (response) {  //接口返回数据
                    this.list_SideBracket = response.body;
                    this.list_SideBracket_count = this.list_foot.length;


                }, function (error) {
                    console.log(error);
                })
            },
            

            columnClick: function (id) {
                this.select_column = id;
            },
            frameClick: function (id) {
                this.select_frame = id;
            },
            footClick: function (id) {
                this.select_foot = id;
            },
            SideBracketClick: function (id) {
                this.select_SideBracket = id;
            },

            orderBtnClick: function (ordervalue) {

                this.OrderValue = ordervalue;
                if (this.Order == 1) {
                    this.Order = 2;
                }
                else {
                    this.Order = 1;
                }
            },

            setData: function (field, val) {
                this.$set(this.$data, field, val);//vue 设定值
            },
        }
    })
    //语言加载
    OfficeStandards.initPage();
    OfficeStandards.getAllColumn();

</script>
