
@{
    ViewBag.Title = "office_Eservice_test";
}


<style>
    #shjahs {
        /*width: 100%;

        padding-top: 10px;
        padding-bottom: 14px;
        padding-left: 5px;
        padding-right: 5px;*/
        /*background-color: #F2F3F4;*/
        /*min-height: 500px;
        height: calc(100vh - 300px);*/
        border: 0;
        margin: 0;
        padding: 0;
        height: 642px;
        width: 871px;
    }
    #iDisplayBox
    {
        margin-top:20px;
    }
    .selectColumnPart {
        min-height: 500px;
        height: calc(100vh - 241px);
        min-height: 650px;
        overflow: auto;
        margin-top: 10px;
    }

    .about-three {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navimg {
        height: 65px;
        cursor: pointer;
        padding: 5px;
    }

        .navimg:hover {
            background-color: rgb(12 33 57 / 0.3);
        }

    .selectStep {
        height: 70px;
        display:none;
    }

    .part_img {
        cursor: pointer;
        border-radius: 5px;
        max-height: 100%;
        width: 100%
    }
    /*缩略图鼠标滑过*/
    /*.part_img:hover {
            background-color: rgb(12 33 57 / 0.4);
        }*/

    .imgDiv:hover {
        background-color: rgb(12 33 57 / 0.3);
    }
    /*缩略图选中*/
    .selectBack {
        background-color: rgb(12 33 57 / 0.3);
    }

    .part_detail_icon {
        width: 18%;
        height: 20%;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer
    }

    .imgDiv {
        display: inline-block;
        position: relative;
    }

    .selectText {
        font-size: 14px;
        color: #202733;
    }

    #searchCondition > div {
        float: left;
    }

    .selectColor_span {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 3px;
    }

    .selectColor_div {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        border: 2px solid rgb(12 33 57 / 0.00);
        text-align: center;
        margin: 0 auto;
    }

    .selectColorcss {
        border: 2px solid var(--thm-base);
    }

    .selectColor_div:hover {
        border: 2px solid var(--thm-base);
    }
</style>

<style>
    .carNewRightNavTop {
        width: 100%;
        padding:0;
        margin:0;
    }

    .carNewRightTop {
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding: 0;
        margin: 0;
    }

    .borderblack {
        border-bottom: 2px solid #000;
    }

    .bigWords {
        font-weight: 500;
        color: #A8A8A8;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 17px;
        padding: 0;
        margin: 0;
    }
    .bigWords2 {
        font-weight: 500;
        color: #A8A8A8;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 15px;
        padding: 0;
        margin: 0;
    }

        .wordActive {
            color: #202733;
            font-weight: 600;
            /*color: var(--thm-base);*/
        }

    .smallWords {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        margin-bottom: 0;
        margin-top:-2px;
        padding:0;
    }

        .smallWords p {
            margin: 0;
        }

    .itemStyle {
        width:110px;
        max-width: 150px;
        min-width: 100px;
        overflow: hidden;
        text-align: center;
        font-weight: 500;
        cursor: pointer;
    }

    .carNewRightTop {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        margin-top:5px;
        padding:0;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        border-bottom: 1px solid rgba(0,0,0,.1);
        font-size: 12px;
    }

</style>

<div id="OfficeStandards">
    <el-dialog :title="text_customer_text1"
               :visible.sync="dialogVisible_partDetail"
               width="80%"
               center>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-response" style="width:100%" :src="detailModel.imgurl" />
                </div>
                <div class="col-lg-6">
                    <h4 class="drawerh5" v-text="detailModel.mode"></h4>
                    <br />
                    <h6 v-for="item in detailModel.des" v-text="item.textValue"></h6>


                </div>
            </div>
        </div>
        <template #footer>
            <span class="dialog-footer">

            </span>
        </template>
    </el-dialog>

    <section class="page-header" style="height:53px;">
    <div class="container" style="padding:10px 10px ">
        <a class="navigation_a" href="/JCSelection/main">{{NAVMainPage}}</a>/
        <a class="navigation_a">{{CustomPage}}</a>
    </div>
    </section>
    <section class="about-three">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @*<div>
                            <template>
                                <el-tabs v-model="selectStep" @@tab-click="handleClick">
                                    <el-tab-pane :label="text_customer_1" name="s1"></el-tab-pane>
                                    <el-tab-pane :label="text_customer_2" name="s2"></el-tab-pane>
                                    <el-tab-pane :label="text_customer_3" name="s3"></el-tab-pane>
                                    <el-tab-pane :label="text_customer_4" name="s4"></el-tab-pane>
                                    <el-tab-pane :label="text_customer_42_1" name="s5_1"></el-tab-pane>
                                    <el-tab-pane :label="text_customer_42_2" name="s5_2"></el-tab-pane>
                                    <el-tab-pane :label="text_customer_42_3" name="s5_3"></el-tab-pane>
                                    <el-tab-pane :label="text_customer_423" name="s6"></el-tab-pane>
                                    <el-tab-pane :label="CustomConfigurationListInfo" name="s7"></el-tab-pane>
                                </el-tabs>
                            </template>
                        </div>*@


                    <div class="carNewRightNavTop" style="height:60px">
                        <ul class="carNewRightTop">
                            <li :class="{ 'itemStyle': true,'borderblack':selectStep=='s1' }" @@click="selectStep='s1'">
                                <a>
                                    <p :class="{ 'bigWords': true,'wordActive':select_column!=''||selectStep=='s1' }">{{text_customer_1}}</p>
                                    <div class="smallWords">
                                        <p v-text="select_columnMode==''?select_text:select_columnMode"></p>
                                    </div>
                                </a>
                            </li>

                            <li :class="{ 'itemStyle': true,'borderblack':selectStep=='s3' }" @@click="selectStep='s3'">
                                <a>
                                    <p :class="{ 'bigWords': true,'wordActive':select_foot!=''||selectStep=='s3' }">{{text_customer_3}}</p>
                                    <div class="smallWords">
                                        <p v-text="select_footMode"></p>
                                    </div>
                                </a>
                            </li>
                            <li :class="{ 'itemStyle': true,'borderblack':selectStep=='s2' }" @@click="selectStep='s2'">
                                <a>
                                    <p :class="{ 'bigWords': true,'wordActive':select_frame!=''||selectStep=='s2' }">{{text_customer_2}}</p>
                                    <div class="smallWords">
                                        <p v-text="select_frameMode"></p>
                                    </div>
                                </a>
                            </li>
                            <li :class="{ 'itemStyle': true,'borderblack':selectStep=='s4' }" @@click="selectStep='s4'">
                                <a>
                                    <p :class="{ 'bigWords': true,'wordActive':select_SideBracket!=''||selectStep=='s4' }">{{text_customer_4}}</p>
                                    <div class="smallWords">
                                        <p v-text="select_SideBracketMode"></p>
                                    </div>
                                </a>
                            </li>
                            <li :class="{ 'itemStyle': true,'borderblack':selectStep=='s5_1' }" @@click="selectStep='s5_1'">
                                <a>
                                    <p :class="{ 'bigWords': true,'wordActive':select_ControlBox!=''||selectStep=='s5_1' }">{{text_customer_42_1}}</p>
                                    <div class="smallWords">
                                        <p v-text="select_ControlBoxMode"></p>
                                    </div>
                                </a>
                            </li>
                            <li :class="{ 'itemStyle': true,'borderblack':selectStep=='s5_2' }" @@click="selectStep='s5_2'">
                                <a>
                                    <p :class="{ 'bigWords': true,'wordActive':select_HandSet!=''||selectStep=='s5_2' }">{{text_customer_42_2}}</p>
                                    <div class="smallWords">
                                        <p v-text="select_HandSetMode"></p>
                                    </div>
                                </a>
                            </li>

                            <li :class="{ 'itemStyle': true,'borderblack':selectStep=='s5_3' }" @@click="selectStep='s5_3'">
                                <a>
                                    <p :class="{ 'bigWords': true,'wordActive':select_Powercable!=''||selectStep=='s5_3' }">{{text_customer_42_3}}</p>
                                    <div class="smallWords">
                                        <p v-text="select_PowercableMode"></p>
                                    </div>
                                </a>
                            </li>
                            <li :class="{ 'itemStyle': true,'borderblack':selectStep=='s6' }" @@click="selectStep='s6'">
                                <a>
                                    <p :class="{ 'bigWords': true,'wordActive':select_Color!=''||selectStep=='s6' }">{{text_customer_423}}</p>
                                    <div class="smallWords">
                                        <p v-text="select_ColorMode"></p>
                                    </div>
                                </a>
                            </li>
                            <li :class="{ 'itemStyle': true,'borderblack':selectStep=='s7' }" @@click="selectStep='s7'">
                                <a>
                                    <p :class="{ 'bigWords2': true,'wordActive':true }" style="color: var(--thm-base) ">{{CustomConfigurationListInfo}}</p>
                                    <div class="smallWords">
                                        <p></p>
                                    </div>
                                </a>
                            </li>



                        </ul>
                    </div>


                </div>

            </div>


            <div class="row selectStep" v-if="selectStep=='s1'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
 选择立柱
                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s2'">
               
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    {{CustomSelectFrame}}
                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s3'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    {{CustomSelectFoot}}
                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s4'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    {{CustomSelectSideBracket}}
                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s5_1'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    {{CustomSelectControlbox}}

                    <el-checkbox v-model="ControlBox_c1" label="UL"></el-checkbox>

                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s5_2'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    {{CustomSelectHandSet}}
                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s5_3'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    {{CustomSelectPowerCable}}
                </div>
            </div>

            <div class="row selectStep" v-if="selectStep=='s6'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    {{CustomSelectColor}}
                </div>
            </div>
            <div class="row selectStep" v-if="selectStep=='s7'">
                <div class="col-lg-12">
                    @*<h6 class="selectText" v-text="text_customer_9"></h6>*@
                    {{CustomConfiguration}}
                </div>
            </div>
        </div>
    </section>

    <section class="about-three" style="padding-top:0px; padding-bottom:0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s1'">
                    <div style="height:70px;">
                        <div class="service-details__image">
                            <div class="block-title text-left">
                                <img :class="{ 'img-response': true, 'navimg': true ,'selectBack':search1_column=='column_2_s'}" :title="text_customer_5" @@click="colomnSearch('column_2_s')" src="/resourse/page/2jie.png" />  @*column_2_s*@
                                <img :class="{ 'img-response': true, 'navimg': true ,'selectBack':search1_column=='column_2_r'}" :title="text_customer_6" @@click="colomnSearch('column_2_r')" src="/resourse/page/2jieR.png" /> @*column_2_r*@
                                <img :class="{ 'img-response': true, 'navimg': true ,'selectBack':search1_column=='column_3_s'}" :title="text_customer_7" @@click="colomnSearch('column_3_s')" src="/resourse/page/3jie.png" /> @*column_3_s*@
                                <img :class="{ 'img-response': true, 'navimg': true ,'selectBack':search1_column=='column_3_r'}" :title="text_customer_8" @@click="colomnSearch('column_3_r')" src="/resourse/page/3jieR.png" /> @*column_3_r*@
                            </div><!-- /.block-title -->
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_column">
                            @* <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_column==item.Id}" v-on:click="columnClick(item.Id,item.Mode)" src="~/resourse/part_column/testcolumn.png" />*@

                            <div class="imgDiv" @@mouseenter="mouse_column = item.Id" @@mouseleave="mouse_column = ''">
                                <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_column==item.Id}" v-on:click="columnClick(item.Id,item.Mode)" :src="item.PictureName" />
                                <img v-show="mouse_column == item.Id" src="~/resourse/Img/detail_icon2.png" class="part_detail_icon" v-on:click="getpartDetail('column',item.Mode)" />
                            </div>


                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_column_count}}{{CustomResultCount}}</h6></div>
                    </div>
                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s2'">
                    @*s2*@
                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_frame">
                            @*<img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_frame==item.Id}" v-on:click="frameClick(item.Id,item.Mode)" src="~/resourse/part_column/testcolumn.png" />*@

                            <div class="imgDiv" @@mouseenter="mouse_frame = item.Id" @@mouseleave="mouse_frame = ''">
                                <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_frame==item.Id}" v-on:click="frameClick(item.Id,item.Mode)" :src="item.PictureName" />
                                <img v-show="mouse_frame == item.Id" src="~/resourse/Img/detail_icon2.png" class="part_detail_icon" v-on:click="getpartDetail('frame',item.Mode)" />
                            </div>
                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_frame_count}}{{CustomResultCount}}</h6></div>
                    </div>
                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s3'">
                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_foot">
                            @*<img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_foot==item.Id}" v-on:click="footClick(item.Id,item.Mode)" src="~/resourse/part_column/testcolumn.png" />*@
                            <div class="imgDiv" @@mouseenter="mouse_foot = item.Id" @@mouseleave="mouse_foot = ''">
                                <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_foot==item.Id}" v-on:click="footClick(item.Id,item.Mode)" :src="item.PictureName" />
                                <img v-show="mouse_foot == item.Id" src="~/resourse/Img/detail_icon2.png" class="part_detail_icon" v-on:click="getpartDetail('foot',item.Mode)" />
                            </div>

                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_foot_count}}{{CustomResultCount}}</h6></div>
                    </div>
                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s4'">
                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_SideBracket">
                            @* <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_SideBracket==item.Id}" v-on:click="SideBracketClick(item.Id,item.Mode)" src="~/resourse/part_column/testcolumn.png" />*@
                            <div class="imgDiv" @@mouseenter="mouse_SideBracket = item.Id" @@mouseleave="mouse_SideBracket = ''">
                                <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_SideBracket==item.Id}" v-on:click="SideBracketClick(item.Id,item.Mode)" :src="item.PictureName" />
                                <img v-show="mouse_SideBracket == item.Id" src="~/resourse/Img/detail_icon2.png" class="part_detail_icon" v-on:click="getpartDetail('SideBracket',item.Mode)" />
                            </div>

                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_SideBracket_count}}{{CustomResultCount}}</h6></div>
                    </div>
                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s5_1'">
                    @*控制器*@

                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_ControlBox">
                            <div class="imgDiv" @@mouseenter="mouse_ControlBox = item.Id" @@mouseleave="mouse_ControlBox = ''">
                                <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_ControlBox==item.Id}" v-on:click="ControlBoxClick(item.Id,item.Mode)" :src="item.PictureName" />
                                <img v-show="mouse_ControlBox == item.Id" src="~/resourse/Img/detail_icon2.png" class="part_detail_icon" v-on:click="getpartDetail('ControlBox',item.Mode)" />
                            </div>
                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_ControlBox_count}}{{CustomResultCount}}</h6></div>
                    </div>

                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s5_2'">
                    @*手控器*@
                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_HandSet">

                            <div class="imgDiv" @@mouseenter="mouse_HandSet = item.Id" @@mouseleave="mouse_HandSet = ''">
                                <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_HandSet==item.Id}" v-on:click="HandSetClick(item.Id,item.Mode)" :src="item.PictureName" />
                                <img v-show="mouse_HandSet == item.Id" src="~/resourse/Img/detail_icon2.png" class="part_detail_icon" v-on:click="getpartDetail('HandSet',item.Mode)" />
                            </div>


                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_HandSet_count}}{{CustomResultCount}}</h6></div>
                    </div>
                </div>

                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s5_3'">
                    @*电源线*@
                    <div class="row">
                        <div class="col-lg-6 col-md-6" v-for="item in list_Powercable">

                            <div class="imgDiv" @@mouseenter="mouse_Powercable = item.Id" @@mouseleave="mouse_Powercable = ''">
                                <img :class="{ 'img-response': true, 'part_img': true ,'selectBack':select_Powercable==item.Id}" v-on:click="PowercableClick(item.Id,item.Mode)" :src="item.PictureName" />
                                <img v-show="mouse_Powercable == item.Id" src="~/resourse/Img/detail_icon2.png" class="part_detail_icon" v-on:click="getpartDetail('Powercable',item.Mode)" />
                            </div>


                            <h6 style="text-align:center" v-text="item.Mode"></h6>
                        </div>
                        <div class="col-lg-12" style="text-align:center"><h6>{{list_Powercable_count}}{{CustomResultCount}}</h6></div>
                    </div>



                </div>


                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s6'">

                    <div class="row">
                        <div class="col-lg-4 col-md-4" v-for="item in list_Color" style="text-align:center;cursor:pointer" v-on:click="colorClick(item.Id,item.ColorName,item.ColorNumber)">
                            <div :class="{ 'selectColor_div': true,'selectColorcss':select_Color==item.Id}">
                                <span :style="{ 'background-color':item.HEXValue }" class="selectColor_span"></span>

                            </div>
                            <h6 v-text="item.ColorName"></h6>
                        </div>
                    </div>



                    @*<div class="row">
                <div class="col-lg-6 col-md-6" v-for="item in list_Color">
                        <el-button :style="{'background':colorConfirm=item.HEXValue}" circle></el-button>
                        <h6 style="text-align:center" v-text="item.HEXValue"></h6>
                </div>
            </div>*@
                </div>
                <div class="col-lg-4 selectColumnPart" v-if="selectStep=='s7'">

                    <div>
                        <label>{{CustomInputName}}</label>
                        <input type="text" class="form-control searchInput" v-model="custmerName" />
                    </div>


                    <div>
                        <label>{{CustomHeightLength}}</label>
                        <el-slider v-model="frameHeight"
                                   :min="framesmallHeight"
                                   :max="framebigHeight"
                                   show-input
                                   @@change="changeHeight($event)">
                        </el-slider>
                    </div>
                    <div>
                        <label>{{CustomWidthLength}}</label>
                        <el-slider v-model="frameWidth"
                                   :min="framesmallWidth"
                                   :max="framesbigWidth"
                                   show-input
                                   @@change="changeWidth($event)">
                        </el-slider>
                    </div>






                    <h6 v-text="'CC	'+CustomColumnNum+' '+select_columnMode"></h6>
                    <h6 v-text="' FC	'+CustomFrameNum+' '+select_frameMode"></h6>
                    <h6 v-text="' TFC	'+CustomFootNum+' '+select_footMode"></h6>
                    <h6 v-text="' SPC	'+CustomSidebracketNum+' '+select_SideBracketMode"></h6>
                    <h6 v-text="' COLOUR	'+CustomColorNum+' '+select_ColorMode"></h6>

                    <h6 v-text="'CONTROLLER	'+CustomControlboxNum+' '+select_ControlBoxMode"></h6>
                    <h6 v-text="'HC	'+CustomHandsetNum+' '+select_HandSetMode"></h6>

                    <h6 v-text="CustomPowerCableNum+' '+select_PowercableMode"></h6>

                    <h6 v-text="' POS2	'+CustomWidthLength+' '+frameWidth"></h6>
                    <h6 v-text="'POS1	'+CustomHeightLength+' '+frameHeight"></h6>

                    <!-- 是否显示桌面板 -->
                    <label>{{CustomShowBoard}}</label>
                    <el-switch v-model="value"
                               active-color="#008fd5"
                               inactive-color="GRAY"
                               @@change="changeStatus">

                    </el-switch>



                </div>
                <!-- 3D图形 -->
                <div class="col-lg-8" >
                    
                    <div id="iDisplayBox"></div>

                </div>
            </div>
        </div>
    </section>
    <section class="about-three" style="padding-top:10px; padding-bottom:10px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <button @@click="nextStep" class="orderbtn thm-btn">{{CustomNextButton}}</button>
                    @* <button class="orderbtn thm-btn" v-if="select_column!=''&& select_frame!=''&& select_foot!=''&& select_SideBracket!=''">完成配置</button>*@
                    <button class="orderbtn thm-btn" v-if="select_column!=''&& select_frame!=''&& select_foot!=''" @@click="saveConfigurations()">{{CustomSaveConfigurationButton}}</button>
                </div>

            </div>
        </div>

    </section>


</div>


<script>
    $(function () {
        $('.bottom-footer').hide();

    })
</script>



<script>


    var OfficeStandards = new Vue({
        el: '#OfficeStandards',
        data: {


            @*OrderValue: "",
            Order: 0,//1正序 2倒序
            domain: "@ViewBag.domain",
            Type: "@ViewBag.Type",
            recommend: "@ViewBag.recommend",
            langCode:"",
            deskList: null,

            productName: '@ViewBag.productName',

            deskSerialName:'',
            T_Product_office_desk: null,
            T_Product_office_desk_detail: null,
            configurationNo: "",*@
            dialogVisible_partDetail: false,
            centerDialogVisible: false,
            list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
            colorConfirm: '#FF0000',
            selectStep: 's1',//选择的步骤
            value: true,//显示桌面板
            search1_column: '',//筛选的正装

            defaultWidth: 0,
            defaultHeight: 0,
            frameWidth: 0,
            frameHeight: 0,
            framesmallHeight: 0,
            framebigHeight: 650,
            framesmallWidth: 1080,
            framesbigWidth: 1800,

            list_column: null,
            list_column_count: 0,
            select_column: "",
            select_columnMode: "",
            mouse_column: "",
            cc_column: "",

            list_frame: null,
            list_frame_count: 0,
            select_frame: "",
            select_frameMode: "",
            mouse_frame: "",
            fc_frame: "",
            list_foot: null,
            list_foot_count: 0,
            select_foot: "",
            select_footMode: "",
            mouse_foot: "",
            tfc_foot: "",
            list_SideBracket: null,
            list_SideBracket_count: 0,
            select_SideBracket: "",
            select_SideBracketMode: "",
            mouse_SideBracket: "",
            spc_SideBracket: "",
            list_ControlBox: null,
            list_ControlBox_count: 0,
            select_ControlBox: "",
            select_ControlBoxMode: "",
            mouse_ControlBox: "",
            controller_ControlBox: "",
            list_HandSet: null,
            list_HandSet_count: 0,
            select_HandSet: "",
            select_HandSetMode: "",
            mouse_HandSet: "",
            hc_HandSet: "",
            list_Powercable: null,
            list_Powercable_count: 0,
            select_Powercable: "",
            select_PowercableMode: "",
            mouse_Powercable: "",

            list_Color: null,
            list_Color_count: 0,
            select_Color: "",
            select_ColorMode: "",
            colour_color: "",
            of_deskboard: "",
            pos1_value: "",
            pos2_value: "",
            url_text: "",
            T_Product_office_desk: null,
            T_Product_office_desk_detail: null,
            productGuid: '',

            //text
            select_text: "",//请选择
            text_customer_1: "",
            text_customer_2: "",
            text_customer_3: "",
            text_customer_4: "",
            text_customer_42_1: "",
            text_customer_42_2: "",
            text_customer_42_3: "",
            text_customer_423: "",
            text_customer_5: "",
            text_customer_6: "",
            text_customer_7: "",
            text_customer_8: "",
            text_customer_9: "",
            NAVMainPage: "",
            CustomPage: "",
            CustomConfigurationListInfo: "",
            CustomSelectFrame: "",
            CustomSelectFoot: "",
            CustomSelectSideBracket: "",
            CustomSelectControlbox: "",
            CustomSelectHandSet: "",
            CustomSelectPowerCable: "",
            CustomSelectColor: "",
            CustomConfiguration: "",
            CustomResultCount: "",
            CustomInputName: "",
            CustomSelectFrameWidth: "",
            CustomSelectColumnHeight: "",
            CustomColumnNum: "",
            CustomFrameNum: "",
            CustomFootNum: "",
            CustomSidebracketNum: "",
            CustomColorNum: "",
            CustomControlboxNum: "",
            CustomHandsetNum: "",
            CustomPowerCableNum: "",
            CustomWidthLength: "",
            CustomHeightLength: "",
            CustomShowBoard: "",
            CustomNextButton: "",
            CustomSaveConfigurationButton: "",
            CustomSelectColumnNotice: "",
            CustomAddConfirm: "",
            CustomAddNotice: "",
            CustomAddConfirmButton: "",
            CustomAddCancelButton: "",
            CustomAddSuccessNotice: "",
            text_customer_text1: "",
            CustomSelectFootNotice: "",
            MyCollectName: "",
            custmerName: "",//客户命名方案
            ControlBox_c1: "",//控制器筛选

            detailModel: {
                imgurl: "",
                mode: "",
                des: [],
                ColumnWithFoot: "",
                ColumnWithFrame: "",
                FrameWithSideBracket: "",

            },

            value: 0,
        },
        watch: {
            select_column: function (val) {
              
            },
            select_frame: function (val) {
             
            },

            selectStep: function (val) {

                switch (this.selectStep) {
                    case "s1":
                        if (this.select_foot != "" || this.select_frame != "") {
                            //this.$notify({
                            //    message: '您已经选了其他部件,重新选择立柱会撤销这些选择!',
                            //});
                        }
                        break;
                    case "s2":
                        if (this.select_columnMode == "") {
                            this.selectStep = "s1";
                            this.$notify({
                                message: this.CustomSelectColumnNotice
                            });
                            return;
                        }
                        this.getAllFrame();
                        break;
                    case "s3":
                        if (this.select_columnMode == "") {
                            this.selectStep = "s1";
                            this.$notify({
                                message: this.CustomSelectColumnNotice
                            });
                            return;
                        }
                        this.getAllFoot();
                        break;
                    case "s4":
                        if (this.select_frame == "") {
                            this.selectStep = "s2";
                            this.$notify({
                                message: this.CustomSelectFootNotice
                            });
                            return;
                        }

                        this.getAllSideBracket();
                        break;
                    case "s5_1":
                        this.getAllControlBox();
                        break;
                    case "s5_2":
                        this.getAllHandSet();
                        break;
                    case "s5_3":
                        this.getAllPowercable();
                        break;

                    case "s6":
                        if (this.select_ColorMode == "") {
                            this.select_ColorMode = "RAL9016";
                            this.select_Color = "2";
                        }
                    case "s7":
                        if (this.defaultHeight != 0) {
                            this.frameHeight = this.defaultHeight;
                        }
                        if (this.defaultWidth != 0) {
                            this.frameWidth = this.defaultWidth;
                        }
                        break;
                    //default:
                }
            },

        },
        methods: {
            //保存配置
            saveConfigurations: function (event) {

                if (this.custmerName == "") {
                    this.selectStep = "s7";
                    this.$message({
                        type: 'info',
                        message: '请输入您的方案名称'
                    });
                    return;
                }


                this.$confirm(this.CustomAddConfirm, this.CustomAddNotice, {
                    confirmButtonText: this.CustomAddConfirmButton,
                    cancelButtonText: this.CustomAddCancelButton,

                }).then(() => {

                    this.$http({           //调用接口
                        method: 'POST',
                        url: "/JCSelection/saveConfigurations",
                        params: {

                            select_columnMode: this.select_columnMode,
                            select_frameMode: this.select_frameMode,
                            select_footMode: this.select_footMode,
                            select_SideBracketMode: this.select_SideBracketMode,
                            select_ColorMode: this.select_ColorMode,
                            select_ControlBoxMode: this.select_ControlBoxMode,
                            select_HandSetMode: this.select_HandSetMode,
                            select_PowercableMode: this.select_PowercableMode,
                            frameWidth: this.frameWidth,
                            frameHeight: this.frameHeight,
                            langCode: this.langCode,
                            Type: "TS",
                            custmerName: this.custmerName,//客户命名方案
                        }
                    }).then(function (response) {  //接口返回数据
                        if (response.body.type == "true") {
                            //this.$message({
                            //    type: 'success',
                            //    message: this.CustomAddSuccessNotice
                            //});
                            this.$confirm('是否跳转查看', this.CustomAddSuccessNotice, {
                                confirmButtonText: this.CustomAddConfirmButton,
                                cancelButtonText: this.CustomAddCancelButton,

                            }).then(() => {
                                window.location = "/JCSelection_Customer/personal";
                            }).catch(() => {
                                return;
                            });


                        }
                        else {
                            //失败
                            this.$message({
                                type: 'error',
                                message: response.body.msg
                            });
                        }
                    }, function (error) {
                        console.log(error);
                    })


                }).catch(() => {
                    return;
                });




            },
            nextStep: function (event) {
                // console.log(this.selectStep);
                switch (this.selectStep) {
                    case "s1":
                        this.selectStep = "s3";
                        break;
                    case "s3":
                        this.selectStep = "s2";
                        break;
                    case "s2":
                        this.selectStep = "s4";
                        break;
                    case "s4":
                        this.selectStep = "s5_1";
                        break;
                    case "s5_1":
                        this.selectStep = "s5_2";
                        break;
                    case "s5_2":
                        this.selectStep = "s5_3";
                        break;
                    case "s5_3":
                        this.selectStep = "s6";
                        break;
                    case "s6":
                        this.selectStep = "s7";
                        break;
                    //default:
                }
            },

            handleClick(tab, event) {
                // console.log(tab);


            },
            initPage: function (event) {
                var code = GetLanguCode();
                this.langCode = code;
                $.ajaxSettings.async = false;
                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;
                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                        // console.log('key:' + key + "  value:" + value);
                        this.setData(key, value);;
                    }
                }
                var url = "https://jiecang-embedded.partcommunity.com/3d-cad-models/sso/jc36tViewBag-%E5%8D%87%E9%99%8D%E6%A1%8C-%E6%8D%B7%E6%98%8C?info=jiecang%2Flifting_table%2Fjc36ts_asmtab.prj&cwid=6919&showPortlets=preview&hidePortlets=navigation&languageIso=" + this.langCode;
                var i = '<iframe scrolling="no"  id="shjahs"  alt=""  src = ""/>';

                $('#iDisplayBox').append(i);
                //$("#shjahs").attr({
                //    "src": url + "&languageIso=" + this.langCode
                //});
            },

            //正装3节的筛选
            colomnSearch: function (text) {
                

                if (this.search1_column == text) {
                    this.search1_column = '';
                }
                else {
                    this.search1_column = text;
                }
                this.getAllColumn();



            },
            getpartDetail: function (partType, Mode) {

                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetPartDetail",
                    params: {
                        partType: partType,
                        Mode: Mode,
                        langCode: this.langCode,
                    }
                }).then(function (response) {  //接口返回数据

                    this.detailModel = response.body;
                    console.log(response.body);
                }, function (error) {
                    console.log(error);
                })

                this.dialogVisible_partDetail = true



            },
            getAllColumn: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeColumn",
                    params: {
                        columnType: this.search1_column
                    }
                }).then(function (response) {  //接口返回数据
                    this.list_column = response.body;
                    this.list_column_count = this.list_column.length;
                    //console.log(response.body);
                }, function (error) {
                    console.log(error);
                })
            },
            getAllFrame: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeFrame",
                    params: {
                        select_columnMode: this.select_columnMode,
                    }
                }).then(function (response) {  //接口返回数据
                    this.list_frame = response.body;
                    this.list_frame_count = this.list_frame.length;
                }, function (error) {
                    console.log(error);
                })
            },
            getAllFoot: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeFoot",
                    params: {
                        select_columnMode: this.select_columnMode,
                    }
                }).then(function (response) {  //接口返回数据
                    this.list_foot = response.body;
                    this.list_foot_count = this.list_foot.length;
                }, function (error) {
                    console.log(error);
                })
            },
            getAllSideBracket: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeSideBracket",
                    params: {
                        select_frame: this.select_frame,
                    }
                }).then(function (response) {  //接口返回数据
                    this.list_SideBracket = response.body;
                    this.list_SideBracket_count = this.list_SideBracket.length;
                }, function (error) {
                    console.log(error);
                })
            },
            getAllControlBox: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeControlBox",
                    params: {
                    }
                }).then(function (response) {  //接口返回数据
                    this.list_ControlBox = response.body;
                    this.list_ControlBox_count = this.list_ControlBox.length;


                }, function (error) {
                    console.log(error);
                })
            },
            getAllHandSet: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeHandSet",
                    params: {
                    }
                }).then(function (response) {  //接口返回数据
                    this.list_HandSet = response.body;
                    this.list_HandSet_count = this.list_HandSet.length;
                }, function (error) {
                    console.log(error);
                })
            },
            getAllPowercable: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficePowercable",
                    params: {
                    }
                }).then(function (response) {  //接口返回数据
                    this.list_Powercable = response.body;
                    this.list_Powercable_count = this.list_Powercable.length;
                }, function (error) {
                    console.log(error);
                })
            },

            getAllColor: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeColor",
                    params: {
                    }
                }).then(function (response) {  //接口返回数据
                    this.list_Color = response.body;
                    this.list_Color_count = this.list_Color.length;
                }, function (error) {
                    console.log(error);
                })
            },
            columnClick: function (id, mode) {
                if (this.select_column == id) {
                    return;
                }
                var update = true;
                //如果重新选择立柱的话更新
                if (this.select_foot != "" || this.select_frame != "") {
                    update = false;
                    this.$confirm('您已经选了其他部件,继续选择的话会撤销这些选择', this.CustomAddNotice, {
                        confirmButtonText: this.CustomAddConfirmButton,
                        cancelButtonText: this.CustomAddCancelButton,

                    }).then(() => {
                        this.columnClickConfirm(id, mode);
                    }).catch(() => {
                        update = false;
                        return;
                    });
                }


                if (update) {
                    this.columnClickConfirm(id, mode);
                }

              



            },
            columnClickConfirm(id, mode) {

                //置空
                this.select_foot = "";
                this.select_frame = "";
                this.select_footMode = "";
                this.select_frameMode = "";

                this.select_column = id;
                this.select_columnMode = mode;
                for (var i = 0; i < this.list_column.length; i++) {
                    if (mode == this.list_column[i].Mode) {
                        this.framesmallHeight = this.list_column[i].LowestPosition;
                        this.framebigHeight = this.list_column[i].HighestPosition;
                    }
                };
                var cc = mode.replace('-', '').replace('-', '').replace('JS36D', '');
                this.url_text = "https://jiecang-embedded.partcommunity.com/3d-cad-models/sso/jc36tViewBag-%E5%8D%87%E9%99%8D%E6%A1%8C-%E6%8D%B7%E6%98%8C?info=jiecang%2Flifting_table%2Fjc36ts_asmtab.prj&cwid=6919&showPortlets=preview&hidePortlets=navigation&varset={CC=" + cc + "}";
                $("#shjahs").attr({
                    "src": this.url_text + "&languageIso=" + this.langCode
                });
                this.cc_column = cc;  
            },
            frameClick: function (id, mode) {
                if (this.select_frame == id) {
                    return;
                }
                var update = true;
                //如果重新选择立柱的话更新
                if (this.select_SideBracket != "") {
                    update = false;
                    this.$confirm('您已经选了其他部件,继续选择的话会撤销这些选择', this.CustomAddNotice, {
                        confirmButtonText: this.CustomAddConfirmButton,
                        cancelButtonText: this.CustomAddCancelButton,

                    }).then(() => {
                        this.frameClickConfirm(id, mode);
                    }).catch(() => {
                        update = false;
                        return;
                    });
                }


                if (update) {
                    this.frameClickConfirm(id, mode);
                }

            },
            frameClickConfirm: function (id, mode) {
                //置空
                this.select_SideBracket = "";
                this.select_SideBracketMode = "";
                //置空侧板的选择 3D
                var spc = '';
                this.url_text = checkModelUrl(this.url_text, "SPC", this.spc_SideBracket, spc);
                this.spc_SideBracket = spc;

                this.select_frame = id;
                this.select_frameMode = mode;
                for (var i = 0; i < this.list_frame.length; i++) {
                    if (mode == this.list_frame[i].Mode) {
                        this.framesmallWidth = this.list_frame[i].MinLength;
                        this.framesbigWidth = this.list_frame[i].MaxLength;
                    }
                };
                var fc = mode.replace('FRAME', '');

                this.url_text = checkModelUrl(this.url_text, "FC", this.fc_frame, fc);
                console.log(this.url_text);
                console.log(fc);
                console.log(this.fc_frame);
                $("#shjahs").attr({
                    "src": this.url_text + "&languageIso=" + this.langCode
                });
                this.fc_frame = fc;
            },
            

            footClick: function (id, mode) {
                if (this.select_foot == id) {
                    return;
                }
                this.select_foot = id;
                this.select_footMode = mode;
                var tfc = mode.replace('JCF', '');
                this.url_text = checkModelUrl(this.url_text, "TFC", this.tfc_foot, tfc);
                $("#shjahs").attr({
                    "src": this.url_text + "&languageIso=" + this.langCode
                });
                this.tfc_foot = tfc;
            },
            SideBracketClick: function (id, mode) {
                if (this.select_SideBracket == id) {
                    return;
                }
                this.select_SideBracket = id;
                this.select_SideBracketMode = mode;
                var spc = mode.replace('SIDE', '');
                this.url_text = checkModelUrl(this.url_text, "SPC", this.spc_SideBracket, spc);
                $("#shjahs").attr({
                    "src": this.url_text + "&languageIso=" + this.langCode
                });
                this.spc_SideBracket = spc;
            },
            colorClick: function (id, mode, number) {
                if (this.select_Color == id) {
                    return;
                }
                this.select_Color = id;
                this.select_ColorMode = mode;
                this.url_text = checkModelUrl(this.url_text, "COLOUR", this.colour_color, number);
                $("#shjahs").attr({
                    "src": this.url_text + "&languageIso=" + this.langCode
                });
                console.log(this.url_text);
                console.log(number);
                console.log(this.colour_color);
                this.colour_color = number;
            },
            ControlBoxClick: function (id, mode) {
                if (this.select_ControlBox == id) {
                    return;
                }
                if (this.select_ControlBox == id) {
                    this.select_ControlBox = 0;
                    this.select_ControlBoxMode = "";
                }
                else {
                    this.select_ControlBox = id;
                    this.select_ControlBoxMode = mode;
                    this.url_text = checkModelUrl(this.url_text, "CONTROLLER", this.controller_ControlBox, mode);
                    $("#shjahs").attr({
                        "src": this.url_text + "&languageIso=" + this.langCode
                    });
                    this.controller_ControlBox = mode;
                }

            },
            HandSetClick: function (id, mode) {
                if (this.select_HandSet == id) {
                    return;
                }
                if (this.select_HandSet == id) {
                    this.select_HandSet = 0;
                    this.select_HandSetMode = "";
                }
                else {
                    this.select_HandSet = id;
                    this.select_HandSetMode = mode;
                    this.url_text = checkModelUrl(this.url_text, "HC", this.hc_HandSet, mode);
                    $("#shjahs").attr({
                        "src": this.url_text + "&languageIso=" + this.langCode
                    });
                    this.hc_HandSet = mode;
                }
            },
            PowercableClick: function (id, mode) {
                if (this.select_Powercable == id) {
                    return;
                }
                if (this.select_Powercable == id) {
                    this.select_Powercable = 0;
                    this.select_PowercableMode = "";
                }
                else {
                    this.select_Powercable = id;
                    this.select_PowercableMode = mode;
                }
            },
            changeHeight(val) {
                this.url_text = checkModelUrl(this.url_text, "POS1", this.pos1_value, val - this.framesmallHeight);
                $("#shjahs").attr({
                    "src": this.url_text + "&languageIso=" + this.langCode
                });
                console.log(val);
                this.pos1_value = val - this.framesmallHeight;                
            },
            changeWidth(val) {
                this.url_text = checkModelUrl(this.url_text, "POS2", this.pos2_value, val - this.framesmallWidth);             
                $("#shjahs").attr({
                    "src": this.url_text + "&languageIso=" + this.langCode
                });
                this.pos2_value = val - this.framesmallWidth;
            },
            changeStatus: function (callback) {
                if (callback == true) {
                    this.url_text = checkModelUrl(this.url_text, "OF", "", "-02");
                    $("#shjahs").attr({
                        "src": this.url_text + "&languageIso=" + this.langCode
                    });
                }
                else {
                    this.url_text = checkModelUrl(this.url_text, "OF", "-02", "");     
                    $("#shjahs").attr({
                        "src": this.url_text + "&languageIso=" + this.langCode
                    });
                }
                console.log(callback);
                console.log(this.url_text);
            },

            orderBtnClick: function (ordervalue) {
                this.OrderValue = ordervalue;
                if (this.Order == 1) {
                    this.Order = 2;
                }
                else {
                    this.Order = 1;
                }
            },
            setData: function (field, val) {
                this.$set(this.$data, field, val);//vue 设定值
            },
            getThisDesk: function (productGuid) {
                //获取桌子详细信息 从另外一个标准配置跳转过来
                    this.$http({           //调用接口
                        method: 'GET',
                        url: "/JCSelection/GetOfficeDeskDetail2",
                        params: {
                            lang: this.langCode,
                            productGuid: productGuid,
                        }
                    }).then(function (response) {  //接口返回数据
                        console.log(response.body);
                        var column = "";
                        var frame = "";
                        var foot = "";
                        var control = "";
                        var handset = "";
                        var side = "";
                        var color = "";
                        this.T_Product_office_desk = response.body.T_Product_office_desk;
                        this.T_Product_office_desk_detail = response.body.T_Product_office_desk_detail;
                        //添加到产品配置列表 立柱
                        if (this.T_Product_office_desk_detail.T_Part_office_Column != null) {
                            var it = this.T_Product_office_desk_detail.T_Part_office_Column;
                            this.select_column = it.Id;
                            this.select_columnMode = it.Mode;
                            column = it.Mode;
                        }
                        //添加到产品配置列表
                        if (this.T_Product_office_desk_detail.T_Part_office_Foot != null) {
                            var it = this.T_Product_office_desk_detail.T_Part_office_Foot;
                            this.select_foot = it.Id;
                            this.select_footMode = it.Mode;
                            foot = it.Mode;
                        }
                        //添加到产品配置列表
                        if (this.T_Product_office_desk_detail.T_Part_office_Frame != null) {
                            var it = this.T_Product_office_desk_detail.T_Part_office_Frame;
                            this.select_frame = it.Id;
                            this.select_frameMode = it.Mode;
                            frame = it.Mode;
                        }
                        //添加到产品配置列表
                        if (this.T_Product_office_desk_detail.T_Part_office_SideBracket != null) {
                            var it = this.T_Product_office_desk_detail.T_Part_office_SideBracket;
                            this.select_SideBracket = it.Id;
                            this.select_SideBracketMode = it.Mode;
                            side = it.Mode;
                        }
                        //添加到产品配置列表
                        if (this.T_Product_office_desk_detail.T_Part_office_ControlBox != null) {
                            var it = this.T_Product_office_desk_detail.T_Part_office_ControlBox;
                            this.select_ControlBox = it.Id;
                            this.select_ControlBoxMode = it.Mode;
                            control = it.Mode;
                        }
                        //手控器
                        if (this.T_Product_office_desk_detail.T_Part_office_HandSet != null) {
                            var it = this.T_Product_office_desk_detail.T_Part_office_HandSet;
                            this.select_HandSet = it.Id;
                            this.select_HandSetMode = it.Mode;
                            handset = it.Mode;
                        }

                        //电源线
                        if (this.T_Product_office_desk_detail.T_Part_office_Powercable != null) {
                            var it = this.T_Product_office_desk_detail.T_Part_office_Powercable;
                            this.select_Powercable = it.Id;
                            this.select_PowercableMode = it.Mode;

                        }

                        if (this.T_Product_office_desk_detail.T_Office_Color != null) {
                            var it = this.T_Product_office_desk_detail.T_Office_Color;
                            this.select_Color = it.Id;
                            this.select_ColorMode = it.ColorName;
                            color = it.ColorNumber;
                        }

                        if (this.T_Product_office_desk_detail.frameWidth != "") {

                            this.defaultWidth = this.T_Product_office_desk_detail.frameWidth;
                        }
                        if (this.T_Product_office_desk_detail.frameHeight != "") {
                            this.defaultHeight = this.T_Product_office_desk_detail.frameHeight;
                        }
                        var url = checkProductDetailUrl(column, frame, foot, side, control, handset, color);
                        $("#shjahs").attr({
                            "src": url
                        });
                        this.url_text = url;
                        this.cc_column = column;
                        this.fc_frame = frame;
                        this.tfc_foot = foot;
                        this.spc_SideBracket = side;
                        this.controller_ControlBox = control;
                        this.hc_HandSet = handset;
                        this.colour_color = color;
                    }, function (error) {
                        console.log(error);
                    })
            },
        }
    })
    //语言加载
    OfficeStandards.initPage();
    OfficeStandards.getAllColumn();
    OfficeStandards.getAllColor();

    this.productGuid = '@ViewBag.productGuid';
    if (this.productGuid != undefined && this.productGuid != "") {
        OfficeStandards.getThisDesk(this.productGuid);
    }


</script>
