
@{
    ViewBag.Title = "ProductDetail";
}

@*<link href="~/assets/layui-v2.6.6/layui/css/layui.css" rel="stylesheet" />
    <script src="~/assets/layui-v2.6.6/layui/layui.js"></script>*@

<style>



    #shjahs {
        width: 100%;
        border: 0;
        margin: 0;
        padding: 0;
        height: 620px;
        width: 830px;
        /*      min-height:550px;
        height: calc(100vh - 280px);*/
    }
    #asas
    {
        margin:0;
        padding:0;
    }
    .about-three {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    * {
        font-family: 'Microsoft YaHei'
    }
    /*    .block-title h6{
        text-align:left;
    }*/
    .block-title {
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .fa-qrcode {
        width: 120px;
        height: 120px;
    }
    .selectColor_span {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 3px;
        margin-left:150px;
    }
    #FilesBox {
    }
    .filerow
    {
        margin-bottom:5px;
    }
    @@import url("//unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css");
    /*.el-tabs__nav-wrap {
        width: 720px;

    }*/
    /*.el-tab-pane {
        width: 50% !important;
        margin: 0 auto !important;
        font-size: 30px !important;
    }*/
    /*.el-tabs el-tabs--top {
        width: 720px;

        vertical-align: center;
    }*/
    /*.el-tabs__nav-scroll {
        width: 50% !important;
        margin: 0 auto !important;
    }*/
    .el-tabs__item {
        font-size: 18px !important;
    }

    .paramDatatableIMG {
        width: 150px;
        padding: 5px;
    }


    .filethumbnail {
        width: 100%;
        max-width: 150px;
    }
    .collect_icon
    {
      width:50px;
    }

 
</style>

<!-- /.js  加载ele组件 -->

<link href="~/assets/eleindex.css" rel="stylesheet" />
<script src="~/assets/eleindex.js"></script>

<div id="OfficeStandards">


    <section class="page-header" style="height:53px;">

        @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
        <!-- /.page-header__bg -->
        <div class="container" style="padding:10px 10px ">
            <a class="navigation_a" href="/JCSelection/main">主页</a>/
            <a class="navigation_a" href="/JCSelection/office">办公标准配置</a>/
            <a class="navigation_a" href="/JCSelection/OfficeStandards?domain=office&Type=@ViewBag.Type&recommend=@ViewBag.recommend">@ViewBag.Type</a>/

            <a class="navigation_a">产品明细</a>
        </div><!-- /.container -->
    </section><!-- /.page-header -->



    <section class="about-three">
        <div class="container">
            <div class="row">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-xs-12" id="asas">

                        </div>
                        <div class="col-lg-3 col-md-9 col-xs-9">
                            @*<i v-show="isCollect" class="el-icon-star-on collect_icon" @@click="isCollect=!isCollect"></i>
                            <i v-show="!isCollect" class="el-icon-star-off collect_icon" @@click="isCollect=!isCollect"></i>*@

                            <div>
                                <img src="~/resourse/other/collect1.png" v-if="isCollect==true" class="img-response collect_icon" @@click="CancelCollectDesk" />
                                <img src="~/resourse/other/collect0.png" v-else class="img-response collect_icon" @@click="CollectDesk" />
                            </div>
                                                        
                            <div class="about-three__image">

                                <h4 class="drawerh5" v-text="deskSerialName"></h4>
                                <br />
                                <h5 v-text="introduction"></h5>
                                <br />
                                <!--<div class="block-title text-left">
        <p>{{text_detail_1}}</p>
        <h6 v-text="deskSerialName"></h6>
    </div>-->
                                <!-- /.block-title -->
                                <!--<div class="block-title text-left">
        <p>产品介绍</p>

    </div>-->

                                <h6 v-for="item in descriptions" v-text="item.textValue"></h6>
                                <!-- /.block-title 关键参数 -->
                                <!--<div class="block-title text-left">
        <p>{{text_detail_2}}</p>

    </div>-->
                                <!-- /.block-title -->


                                <div class="block-title text-left">
                                    <p>{{text_detail_3}}</p>
                                    <h6 v-text="configurationNo"></h6>
                                </div><!-- /.block-title -->
                                <!--<div class="block-title text-left">
        <img src="~/resourse/page/testqrcode.png" class="fa-qrcode" />

    </div>-->
                                <!-- /.block-title -->
                                <div style="padding-top:30px" id="qrcodebox"></div>


                                @*   <button class="thm-btn">自定义</button>*@
                            </div><!-- /.about-three__image -->
                        </div><!-- /.col-lg-8 -->
                    </div><!-- /.row -->

                </div><!-- /.container -->
            </div>
        </div>
    </section>

    <section class="blog-page pt-20 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block-title text-center">
                        <p></p>
                        <h3>产品配置列表</h3>
                    </div><!-- /.block-title -->
                    <div>
                        <button class="orderbtn thm-btn" @@click="gotoCustmer" style="float:right;margin-bottom:5px;margin-left:5px">配置定制</button>
                        <button class="orderbtn thm-btn" @@click="exportConfig" style="float:right;margin-bottom:5px;">导出配置</button>
                    </div>
                </div>
                
                <div class="col-lg-12" >
                    <table id="paramTB" border="1" style="display:none">
                        <tr>
                            <th v-text="text_detail_8"></th>
                            <th v-text="text_detail_8"></th>
                            <th v-text="text_detail_9"></th>
                            <th v-text="text_detail_10"></th>
                        </tr>
                        <tr v-for="item in paramTableData">
                            <td v-text="item.part"></td>
                            <td>
                                <img class="paramDatatableIMG img-response" :src="item.tag" /> 
                                
                            </td>
                            <td v-text="item.model"></td>
                            <td>
                                <li style="text-align:left" v-for="itemt in item.paramList" v-text="itemt"></li>
                            </td>
                        </tr>

                    </table>
                    <el-table :data="paramTableData"
                              border>

                        <el-table-column prop="part"
                                         :label="text_detail_8"
                                         align="center"
                                         width="100">
                        </el-table-column>


                        <el-table-column prop="tag"
                                         :label="text_detail_8"
                                         align="center">
                            <template #default="scope">
                                <img v-if="scope.row.name!='1'" class="paramDatatableIMG img-response" :src="scope.row.tag" />
                                <span v-if="scope.row.name=='1'" :style="{ 'background-color':scope.row.tag}" class="selectColor_span"></span>
                            </template>
                        </el-table-column>


                        <el-table-column prop="model"
                                         :label="text_detail_9"
                                         align="center">
                        </el-table-column>
                        <el-table-column prop="name"
                                         :label="text_detail_10"
                                         align="center">

                            <template #default="scope">
                                <li style="text-align:left" v-for="item in scope.row.paramList" v-text="item"></li>
                            </template>

                        </el-table-column>





                    </el-table>
                </div>

            </div>
        </div>
    </section>



    <section class="blog-page pt-20 pb-120">
        <div class="container">
            <div class="row" id="FilesBox">
                <div class="col-lg-12">
                    <div class="block-title text-center">
                        <p></p>
                        <h3>产品资料与介绍</h3>
                    </div><!-- /.block-title -->
                </div>

                <div class="col-lg-12">

                    <div id="app">
                        <template>
                            <el-tabs v-model="activeName" @@tab-click="handleClick" stretch>
                                @*<el-tab-pane :label="text_detail_4" name="d1"></el-tab-pane>*@
                                <el-tab-pane :label="text_detail_5" name="d2"></el-tab-pane>
                                <el-tab-pane :label="text_detail_6" name="d3"></el-tab-pane>
                                <el-tab-pane :label="text_detail_7" name="d4"></el-tab-pane>
                            </el-tabs>
                        </template>
                    </div>

                </div>


            </div>
           

            <div v-if="activeName=='d1'">
                
                <div class="row filerow" v-for="item in files_d1">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <img class="img-response filethumbnail" :src="GetfileName(item.thumbnailImg,item.Type)" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5 v-text="item.FileName"></h5>
                        <p style="font-size:14px" v-text="item.Information"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <button class="orderbtn thm-btn" @@click="downloadfile(item.Path,item.FileName)">下载</button>
                    </div>
                </div>




            </div>

            <div v-if="activeName=='d2'" class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img class="img-response" style="width:80%;max-width:300px" src="/resourse/Img/2D_icon.png" />
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div style="margin-bottom:15px;" v-for="item in files_d2_2D">
                        <h5 v-text="item.FileName"></h5>
                        <button class="orderbtn thm-btn" @@click="downloadfile(item.Path,item.FileName)">下载</button>
                    </div>


                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img class="img-response" style="width:80%;max-width:300px" src="/resourse/Img/3D_icon.png" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div style="margin-bottom:15px;" v-for="item in files_d2_3D">
                        <h5 v-text="item.FileName"></h5>
                        <button class="orderbtn thm-btn" @@click="downloadfile(item.Path,item.FileName)">下载</button>
                    </div>


                </div>
            </div>


            <div v-if="activeName=='d3'">
                <div class="row filerow" v-for="item in files_d3">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <img class="img-response filethumbnail" :src="GetfileName(item.thumbnailImg,item.Type)" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5 v-text="item.FileName"></h5>
                        <p style="font-size:14px" v-text="item.Information"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <button class="orderbtn thm-btn" @@click="downloadfile(item.Path,item.FileName)">下载</button>
                    </div>
                </div>



            </div>

            <div v-if="activeName=='d4'">
                <div class="row filerow" v-for="item in files_d4">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <img class="img-response filethumbnail" :src="GetfileName(item.thumbnailImg,item.Type)" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5 v-text="item.FileName"></h5>
                        <p style="font-size:14px" v-text="item.Information"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <button class="orderbtn thm-btn" @@click="downloadfile(item.Path,item.FileName)">下载</button>
                    </div>
                </div>



            </div>
        </div>
    </section>
</div>



<script>

    var OfficeStandards = new Vue({
        el: '#OfficeStandards',
        data: {
            OrderValue: "",
            Order: 0,//1正序 2倒序
            domain: "@ViewBag.domain",
            Type: "@ViewBag.Type",
            recommend: "@ViewBag.recommend",
            langCode:"",
            deskList: null,
            activeName: 'd2',
            productName: '@ViewBag.productName',
            productGuid: '@ViewBag.productGuid',
            deskSerialName:'',
            T_Product_office_desk: null,
            T_Product_office_desk_detail: null,
            descriptions: null,//关键参数
            configurationNo: "",
            introduction:"",
            //文件
            files_d1: [],
            isCollect: false,
            //尺寸图
            files_d2_2D: [],
            files_d2_3D: [],
            //认证
            files_d3: [],

            //文件资料
            files_d4: [],

            //text
            text_detail_1: "",
            text_detail_2: "",
            text_detail_3: "",
            text_detail_4: "",
            text_detail_5: "",
            text_detail_6: "",
            text_detail_7: "",
            text_detail_8: "",
            text_detail_9: "",
            text_detail_10: "",
            text_detail_11: "",
            text_detail_12: "",
            text_detail_13: "",
            text_detail_14: "",
            text_detail_15: "",
            text_detail_16:"",
            text_detail_17: "",
            text_detail_18:"",
            MyCollectName: "",
            paramTableData: [],
        },
        //watch: {
        //    OrderValue: function (val) {
        //        this.getallDesk();
        //    },
        //    Order: function (val) {
        //        this.getallDesk();
        //    }
        //},
        methods: {
            handleClick(tab, event) {

            },
            GetfileName: function (fname, type) {
                //if (fname == "") {

                //    var str = type;
                //    if (str.indexOf("doc") != '-1');
                //    {
                //        return "/resourse/Img/word_icon.png";
                //    }
                //    if (str.indexOf("xls") != '-1');
                //    {
                //        return "/resourse/Img/excel_icon.png";
                //    }
                //     return "/resourse/Img/pdf_icon.png";
                //}

                console.log(fname);
                return fname;
            },
            CollectDesk: function () {
                this.$http({           //调用接口
                    method: 'POST',
                    url: "/JCSelection/CollectDesk",
                    params: {
                        deskId: this.T_Product_office_desk.Id,
                    }
                }).then(function (response) {  //接口返回数据
                    if (response.body > 0) {
                        this.$notify({
                            message: '收藏成功!',
                            type: 'success'
                        });
                        this.isCollect = true;
                    }
                    else {
                        this.$notify.error('收藏失败,请先登录');
                        this.isCollect = false;
                    }
                }, function (error) {
                    console.log(error);
                })
            },
            CancelCollectDesk: function() {
                this.$http({           //调用接口
                    method: 'POST',
                    url: "/JCSelection/CancelCollectDesk",
                    params: {
                        deskId: this.T_Product_office_desk.Id,
                    }
                }).then(function (response) {  //接口返回数据
                    if (response.body > 0) {
                        this.$notify({
                            message: '取消收藏成功!',
                            type: 'success'
                        });
                        this.isCollect = false;
                    }
                    else {
                        this.$notify.error('取消收藏失败');
                        this.isCollect = true;
                    }
                }, function (error) {
                    console.log(error);
                })
            },



            exportConfig: function (event) {

                var doc = new jsPDF('p', 'pt');          // 初始化示例，更多配置项看官网api

                //doc.addFont('msyh.ttf', 'msyh', 'normal');
                doc.setFont('msyh');
                doc.text("JIECANG Office Configuration", 40, 50);           // 表title、距离左边距离、距离上边距离
                var res = doc.autoTableHtmlToJson(document.getElementById("paramTB"));
                console.log(res);
                doc.autoTable(res.columns, res.data, { startY: 60 });    // 渲染数据，列、数据、距离上边距离，更多配置项看官网api

                doc.save('tableName.pdf');    // 导出名为tableName.pdf的文件

            },
            downloadfile: function (url,fname) {

                //window.open(url);   //该方法只能下载比如xls等不能直接打开的文件，对于png之类的文件会直接打开而非下载
                const link = document.createElement('a');
                link.style.display = 'none';
                link.href = url;
                link.setAttribute('download', fname);
                document.body.appendChild(link);
                link.click();
            },
            gotoCustmer: function (event) {
                window.location = "/JCSelection/office_Eservice_test?domain=@ViewBag.domain&Type=@ViewBag.Type&recommend=@ViewBag.recommend&productName=@ViewBag.productName&productGuid=@ViewBag.productGuid";
            },
            initPage: function (event) {
                var code = GetLanguCode();
                this.langCode = code;
                $.ajaxSettings.async = false;
                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;
                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                       // console.log('key:' + key + "  value:" + value);
                        this.setData(key, value);;
                    }
                }
                var i = '<iframe scrolling="no"  id="shjahs"  alt=""  src = "https://jiecang-embedded.partcommunity.com/3d-cad-models/sso/jc36tViewBag-%E5%8D%87%E9%99%8D%E6%A1%8C-%E6%8D%B7%E6%98%8C?info=jiecang%2Flifting_table%2Fjc36ts_asmtab.prj&cwid=6919&showPortlets=preview&hidePortlets=navigation"/>';
                $('#asas').append(i);

            },
            getThisDesk: function (event) {
                //文件列表
                //var fitem = { filethumbnail: '/resourse/office/fileimg.png', fileName: 'VUE的和CBD6S使用手册可下载pdf', fileDes: '本使用手册将会告诉您如何安装,使用并维护您的产品' };
                //this.files_d1.push(fitem);


                //获取桌子详细信息
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeDeskDetail",
                    params: {
                        lang: this.langCode,
                        productGuid: this.productGuid,
                        
                    }
                }).then(function (response) {  //接口返回数据

                   // this.deskList = response.body;
                    this.T_Product_office_desk = response.body.T_Product_office_desk;
                    this.T_Product_office_desk_detail = response.body.T_Product_office_desk_detail;
                    this.descriptions = response.body.descriptions;

                    this.deskSerialName = this.T_Product_office_desk.deskSerialName;
                    this.configurationNo = this.T_Product_office_desk_detail.configurationNo;
                    this.introduction = this.T_Product_office_desk_detail.introduction;

                    //添加到产品配置列表 立柱
                    if (this.T_Product_office_desk_detail.T_Part_office_Column != null) {

                        //立柱的参数表
                        var it = this.T_Product_office_desk_detail.T_Part_office_Column;
                        var paramList = new Array();
                        if (it.Type != '') {
                            paramList.push("安装方向：" + it.Type);
                        }
                        if (it.Level != '') {
                            paramList.push("节数：" + it.Level);
                        }
                        if (it.Form != '') {
                            paramList.push("管形形状：" + it.Form);
                        }

                        if (it.StrokeLength != '') {
                            paramList.push("行程：" + it.StrokeLength);
                        }
                        if (it.MaxStroke != '') {
                            paramList.push("最大行程：" + it.MaxStroke);
                        }
                        if (it.LoadCapacity != '') {
                            paramList.push("额定负载：" + it.LoadCapacity);
                        }
                        if (it.MaxLoad != '') {
                            paramList.push("最大负载：" + it.MaxLoad);
                        }
                        if (it.Speed != '') {
                            paramList.push("额定速度：" + it.Speed);
                        }

                        for (i in this.T_Product_office_desk_detail.T_Part_office_Column.T_Part_office_describes) {
                            paramList.push(this.T_Product_office_desk_detail.T_Part_office_Column.T_Part_office_describes[i].textValue);
                        }

                        var q = { part: this.text_detail_11, model: this.T_Product_office_desk_detail.T_Part_office_Column.Mode, name: '', tag: this.T_Product_office_desk_detail.T_Part_office_Column.PictureName, paramList: paramList };
                        this.paramTableData.push(q);
                    }
                    //添加到产品配置列表
                    if (this.T_Product_office_desk_detail.T_Part_office_Foot != null) {

                        var it = this.T_Product_office_desk_detail.T_Part_office_Foot;
                        var paramList = new Array();
                        if (it.MaxLength != '') {
                            paramList.push("最大长度：" + it.MaxLength);
                        }
                        if (it.MinLength != '') {
                            paramList.push("最小长度：" + it.MinLength);
                        }

                        for (i in this.T_Product_office_desk_detail.T_Part_office_Foot.T_Part_office_describes) {
                            paramList.push(this.T_Product_office_desk_detail.T_Part_office_Foot.T_Part_office_describes[i].textValue);
                        }

                        var q = { part: this.text_detail_12, model: this.T_Product_office_desk_detail.T_Part_office_Foot.Mode, name: '', tag: this.T_Product_office_desk_detail.T_Part_office_Foot.PictureName, paramList:paramList };
                        this.paramTableData.push(q);
                    }
                    //添加到产品配置列表
                    if (this.T_Product_office_desk_detail.T_Part_office_Frame != null) {

                        var it = this.T_Product_office_desk_detail.T_Part_office_Frame;
                        var paramList = new Array();
                        if (it.MaxLength != '') {
                            paramList.push("最大长度：" + it.MaxLength);
                        }
                        if (it.MinLength != '') {
                            paramList.push("最小长度：" + it.MinLength);
                        }
                        for (i in this.T_Product_office_desk_detail.T_Part_office_Frame.T_Part_office_describes) {
                            paramList.push(this.T_Product_office_desk_detail.T_Part_office_Frame.T_Part_office_describes[i].textValue);
                        }

                        var q = { part: this.text_detail_13, model: this.T_Product_office_desk_detail.T_Part_office_Frame.Mode, name: '', tag: this.T_Product_office_desk_detail.T_Part_office_Frame.PictureName, paramList:paramList };
                        this.paramTableData.push(q);
                    }
                    //添加到产品配置列表
                    if (this.T_Product_office_desk_detail.T_Part_office_SideBracket != null) {
                        var it = this.T_Product_office_desk_detail.T_Part_office_SideBracket;
                        var paramList = new Array();
                        if (it.MaxLength != '') {
                            paramList.push("最大长度：" + it.MaxLength);
                        }
                        if (it.MinLength != '') {
                            paramList.push("最小长度：" + it.MinLength);
                        }
                        for (i in this.T_Product_office_desk_detail.T_Part_office_SideBracket.T_Part_office_describes) {
                            paramList.push(this.T_Product_office_desk_detail.T_Part_office_SideBracket.T_Part_office_describes[i].textValue);
                        }

                        var q = { part: this.text_detail_14, model: this.T_Product_office_desk_detail.T_Part_office_SideBracket.Mode, name: '', tag: this.T_Product_office_desk_detail.T_Part_office_SideBracket.PictureName, paramList:paramList};
                        this.paramTableData.push(q);
                    }
                    if (this.T_Product_office_desk_detail.T_Part_office_ControlBox != null) {
                        var it = this.T_Product_office_desk_detail.T_Part_office_ControlBox;
                        var paramList = new Array();
                        
                        for (i in this.T_Product_office_desk_detail.T_Part_office_ControlBox.T_Part_office_describes) {
                            paramList.push(this.T_Product_office_desk_detail.T_Part_office_ControlBox.T_Part_office_describes[i].textValue);
                        }

                        var q = { part: this.text_detail_15, model: this.T_Product_office_desk_detail.T_Part_office_ControlBox.Mode, name: '', tag: this.T_Product_office_desk_detail.T_Part_office_ControlBox.PictureName, paramList: paramList };
                        this.paramTableData.push(q);
                    }
                    if (this.T_Product_office_desk_detail.T_Part_office_HandSet != null) {
                        var it = this.T_Product_office_desk_detail.T_Part_office_HandSet;
                        var paramList = new Array();

                        for (i in this.T_Product_office_desk_detail.T_Part_office_HandSet.T_Part_office_describes) {
                            paramList.push(this.T_Product_office_desk_detail.T_Part_office_HandSet.T_Part_office_describes[i].textValue);
                        }

                        var q = { part: this.text_detail_16, model: this.T_Product_office_desk_detail.T_Part_office_HandSet.Mode, name: '', tag: this.T_Product_office_desk_detail.T_Part_office_HandSet.PictureName, paramList: paramList };
                        this.paramTableData.push(q);
                    }
                    if (this.T_Product_office_desk_detail.T_Part_office_Powercable != null) {
                        var it = this.T_Product_office_desk_detail.T_Part_office_Powercable;
                        var paramList = new Array();

                        for (i in this.T_Product_office_desk_detail.T_Part_office_Powercable.T_Part_office_describes) {
                            paramList.push(this.T_Product_office_desk_detail.T_Part_office_Powercable.T_Part_office_describes[i].textValue);
                        }
                        console.log(this.T_Product_office_desk_detail.T_Part_office_Powercable);
                        var q = { part: this.text_detail_17, model: this.T_Product_office_desk_detail.T_Part_office_Powercable.Mode, name: '', tag: this.T_Product_office_desk_detail.T_Part_office_Powercable.PictureName, paramList: paramList };
                        this.paramTableData.push(q);
                    }
                    if (this.T_Product_office_desk_detail.T_Office_Color != null) {
                        var it = this.T_Product_office_desk_detail.T_Office_Color;
                        var paramList = new Array();

                        for (i in this.T_Product_office_desk_detail.T_Office_Color.T_Part_office_describes) {
                            paramList.push(this.T_Product_office_desk_detail.T_Office_Color.T_Part_office_describes[i].textValue);
                        }
                        var q = { part: this.text_detail_18, model: this.T_Product_office_desk_detail.T_Office_Color.ColorName, name: '1', tag: this.T_Product_office_desk_detail.T_Office_Color.HEXValue, paramList: paramList };
                        this.paramTableData.push(q);
                    }

                    initQRCode('qrcodebox', this.configurationNo);

                   // console.log(this.T_Product_office_desk_detail);

                    var ni = 0;
                    for (ni in response.body.T_Office_Files) {
                        var item = response.body.T_Office_Files[ni];
                        switch (item.Nature) {

                            case "产品介绍": this.files_d1.push(item); break;

                            case "产品图2D": this.files_d2_2D.push(item); break;
                            case "产品图3D": this.files_d2_3D.push(item); break;

                            case "认证": this.files_d3.push(item); break;

                            case "文件资料": this.files_d4.push(item); break;
                            default:
                        }

                    }

                    //收藏的逻辑
                    if (response.body.collect.Id > 0) {
                        this.isCollect = true;
                    }

                   
                    console.log(response.body);


                }, function (error) {
                        console.log(error);


                })
            },
            orderBtnClick: function (ordervalue) {

                this.OrderValue = ordervalue;
                if (this.Order == 1) {
                    this.Order = 2;
                }
                else {
                    this.Order = 1;
                }
            },

            setData: function (field, val) {
                this.$set(this.$data, field, val);//vue 设定值
            },
        }
    })
    //语言加载
    OfficeStandards.initPage();
    OfficeStandards.getThisDesk();
</script>




