
@{
    ViewBag.Title = "ProductDetail";
}

@*<link href="~/assets/layui-v2.6.6/layui/css/layui.css" rel="stylesheet" />
    <script src="~/assets/layui-v2.6.6/layui/layui.js"></script>*@

<style>
    #shjahs {
        width: 100%;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
        background-color: #F2F3F4;
        min-height: 580px;
        height: calc(100vh - 250px);
    }

    .about-three {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    * {
        font-family: 'Microsoft YaHei'
    }
    /*    .block-title h6{
        text-align:left;
    }*/
    .block-title {
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .fa-qrcode {
        width: 120px;
        height: 120px;
    }

    #FilesBox {
    }

    @@import url("//unpkg.com/element-ui@2.15.1/lib/theme-chalk/index.css");
    /*.el-tabs__nav-wrap {
        width: 720px;

    }*/
    .el-tab-pane {
        width: 50% !important;
        margin: 0 auto !important;
        font-size: 30px !important;
    }
    /*.el-tabs el-tabs--top {
        width: 720px;

        vertical-align: center;
    }*/
    .el-tabs__nav-scroll {
        width: 50% !important;
        margin: 0 auto !important;
    }

    .el-tabs__item {
        font-size: 18px !important;
    }
    .paramDatatableIMG
    {
        width:150px;
        padding:5px;
    }
</style>

<!-- /.js  加载ele组件 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<div id="OfficeStandards">


    <section class="page-header" style="height:53px;">

        @*<div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>*@
        <!-- /.page-header__bg -->
        <div class="container" style="padding:10px 10px ">
            <a class="navigation_a" href="/JCSelection/main">主页</a>/
            <a class="navigation_a" href="/JCSelection/office">办公标准配置</a>/
            <a class="navigation_a" href="/JCSelection/OfficeStandards?domain=office&Type=@ViewBag.Type&recommend=@ViewBag.recommend">@ViewBag.Type</a>/

            <a class="navigation_a">产品明细</a>
        </div><!-- /.container -->
    </section><!-- /.page-header -->



    <section class="about-three">
        <div class="container">
            <div class="row">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-9" id="asas">

                        </div>
                        <div class="col-lg-3">
                            <div class="about-three__image">
                                <div class="block-title text-left">
                                    <p>{{text_detail_1}}</p>
                                    <h6 v-text="deskSerialName"></h6>
                                </div><!-- /.block-title -->
                                <div class="block-title text-left">
                                    <p>{{text_detail_2}}</p>
                                    <h6>最大负载（N）:800</h6>
                                    <h6>行程（mm):650</h6>
                                    <h6>遇阻回退功能,确保升降桌安全稳定运行</h6>

                                </div><!-- /.block-title -->
                                <div class="block-title text-left">
                                    <p>{{text_detail_3}}</p>
                                    <h6 v-text="configurationNo"></h6>
                                </div><!-- /.block-title -->
                                <!--<div class="block-title text-left">
                                    <img src="~/resourse/page/testqrcode.png" class="fa-qrcode" />

                                </div>-->
                                <!-- /.block-title -->
                                <div style="padding-top:30px" id="qrcodebox"></div>
                                @*   <button class="thm-btn">自定义</button>*@
                            </div><!-- /.about-three__image -->
                        </div><!-- /.col-lg-8 -->
                    </div><!-- /.row -->

                </div><!-- /.container -->
            </div>
        </div>
    </section>

    <section class="blog-page pt-20 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block-title text-center">
                        <p></p>
                        <h3>产品配置列表</h3>
                    </div><!-- /.block-title -->
                </div>
                <div class="col-lg-12" id="paramTable">
                    <el-table :data="paramTableData"
                              border>

                        <el-table-column prop="part"
                                         label=""
                                         align="center"
                                         >
                        </el-table-column>


                        <el-table-column prop="tag"
                                         :label="text_detail_8"
                                           align="center"
                                       >
                            <template #default="scope">
                                <img class="paramDatatableIMG img-response" :src="scope.row.tag" />

                            </template>
                        </el-table-column>


                        <el-table-column prop="model"
                                         :label="text_detail_9"
                                           align="center">
                        </el-table-column>
                        <el-table-column prop="name"
                                         :label="text_detail_10"
                                           align="center"
                                      >
                        </el-table-column>





                    </el-table>
                </div>

            </div>
        </div>
    </section>



    <section class="blog-page pt-20 pb-40">
        <div class="container">
            <div class="row" id="FilesBox">
                <div class="col-lg-12">
                    <div class="block-title text-center">
                        <p></p>
                        <h3>产品资料与介绍</h3>
                    </div><!-- /.block-title -->
                </div>

                <div class="col-lg-12">

                    <div id="app">
                        <template>
                            <el-tabs v-model="activeName" @@tab-click="handleClick" stretch>
                                <el-tab-pane :label="text_detail_4" name="first">产品介绍</el-tab-pane>
                                <el-tab-pane :label="text_detail_5" name="second">尺寸图</el-tab-pane>
                                <el-tab-pane :label="text_detail_6" name="third">认证</el-tab-pane>
                                <el-tab-pane :label="text_detail_7" name="fourth">文件资料</el-tab-pane>
                            </el-tabs>
                        </template>
                    </div>

                </div>



            </div>
        </div>
    </section>
</div>



<script>

    var OfficeStandards = new Vue({
        el: '#OfficeStandards',
        data: {
            OrderValue: "",
            Order: 0,//1正序 2倒序
            domain: "@ViewBag.domain",
            Type: "@ViewBag.Type",
            recommend: "@ViewBag.recommend",
            langCode:"",
            deskList: null,
            activeName: 'first',
            productName: '@ViewBag.productName',
            productGuid: '@ViewBag.productGuid',
            deskSerialName:'',
            T_Product_office_desk: null,
            T_Product_office_desk_detail: null,
            configurationNo: "",


            //text
            text_detail_1: "",
            text_detail_2: "",
            text_detail_3: "",
            text_detail_4: "",
            text_detail_5: "",
            text_detail_6: "",
            text_detail_7: "",
            text_detail_8: "",
            text_detail_9: "",
            text_detail_10: "",
            text_detail_11: "",
            text_detail_12: "",
            text_detail_13: "",
            text_detail_14: "",

            MyCollectName: "",
            paramTableData: [],
        },
        //watch: {
        //    OrderValue: function (val) {
        //        this.getallDesk();
        //    },
        //    Order: function (val) {
        //        this.getallDesk();
        //    }
        //},
        methods: {
            handleClick(tab, event) {

            },
            initPage: function (event) {
                var code = GetLanguCode();
                this.langCode = code;
                $.ajaxSettings.async = false;
                var languText;
                $.getJSON("/resourse/Language/text-" + code + ".json", function (result) {
                    languText = result.language;
                });
                $.ajaxSettings.async = true;
                var obj = languText;
                for (var p in obj) {
                    // 方法
                    if (typeof (obj[p]) == "function") {
                        obj[p]();
                    } else {
                        // p 为属性名称，obj[p]为对应属性的值
                        var key = p;
                        var value = obj[p];
                       // console.log('key:' + key + "  value:" + value);
                        this.setData(key, value);;
                    }
                }
                var i = '<iframe scrolling="no"  id="shjahs" class="img-fluid" alt=""  src = "https://jiecang-embedded.partcommunity.com/3d-cad-models/sso/jc36tViewBag-%E5%8D%87%E9%99%8D%E6%A1%8C-%E6%8D%B7%E6%98%8C?info=jiecang%2Flifting_table%2Fjc36ts_asmtab.prj&cwid=6919&showPortlets=preview&hidePortlets=navigation"/>';
                $('#asas').append(i);

            },
            getThisDesk: function (event) {
                this.$http({           //调用接口
                    method: 'GET',
                    url: "/JCSelection/GetOfficeDeskDetail",
                    params: {
                        productGuid: this.productGuid,
                    }
                }).then(function (response) {  //接口返回数据

                   // this.deskList = response.body;
                    this.T_Product_office_desk = response.body.T_Product_office_desk;
                    this.T_Product_office_desk_detail = response.body.T_Product_office_desk_detail;

                    this.deskSerialName = this.T_Product_office_desk.deskSerialName;
                    this.configurationNo = this.T_Product_office_desk_detail.configurationNo

                    //添加到产品配置列表 立柱
                    if (this.T_Product_office_desk_detail.T_Part_office_Column != null) {
                        var q = { part: this.text_detail_11, model: this.T_Product_office_desk_detail.T_Part_office_Column.Mode, name: '', tag: "/resourse/page/JC35TF-DC2R.png" };
                        this.paramTableData.push(q);
                    }
                    //添加到产品配置列表
                    if (this.T_Product_office_desk_detail.T_Part_office_Foot != null) {
                        var q = { part: this.text_detail_12, model: this.T_Product_office_desk_detail.T_Part_office_Foot.Mode, name: '', tag: "/resourse/page/JC35TF-DC2R.png" };
                        this.paramTableData.push(q);
                    }
                    //添加到产品配置列表
                    if (this.T_Product_office_desk_detail.T_Part_office_Frame != null) {
                        var q = { part: this.text_detail_13, model: this.T_Product_office_desk_detail.T_Part_office_Frame.Mode, name: '', tag: "/resourse/page/JC35TF-DC2R.png" };
                        this.paramTableData.push(q);
                    }
                    //添加到产品配置列表
                    if (this.T_Product_office_desk_detail.T_Part_office_SideBracket != null) {
                        var q = { part: this.text_detail_14, model: this.T_Product_office_desk_detail.T_Part_office_SideBracket.Mode, name: '', tag: "/resourse/page/JC35TF-DC2R.png" };
                        this.paramTableData.push(q);
                    }

                    initQRCode('qrcodebox', this.configurationNo);

                   // console.log(this.T_Product_office_desk_detail);
                    console.log(response.body);


                }, function (error) {
                        console.log(error);


                })
            },
            orderBtnClick: function (ordervalue) {

                this.OrderValue = ordervalue;
                if (this.Order == 1) {
                    this.Order = 2;
                }
                else {
                    this.Order = 1;
                }
            },

            setData: function (field, val) {
                this.$set(this.$data, field, val);//vue 设定值
            },
        }
    })
    //语言加载
    OfficeStandards.initPage();
    OfficeStandards.getThisDesk();
</script>




